In [1]:
import pandas as pd 
import numpy as np

In [2]:
def show_dimensions (df):
        
        print( 'Number of rows: {}'.format(df.shape[0],end= '\n\n') )
        print( 'Number of columns: {}'.format(df.shape [1]) )
        
        return None

In [3]:
def show_dtypes (df):
    
    t = df.dtypes
    
    return t

In [4]:
df = pd.read_csv ('datasets/kc_house_data.csv')

In [41]:
# show_dtypes (df)

In [42]:
show_dimensions (df)

Number of rows: 21613
Number of columns: 21

In [25]:
df['date'] = pd.to_datetime( df['date'])

In [26]:
# show_dtypes (df)

In [27]:
num_attributes = df.select_dtypes(include = ['int64', 'float64'])

In [28]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

mean =   pd.DataFrame (num_attributes.apply( np.mean, axis = 0) )
median = pd.DataFrame (num_attributes.apply( np.median, axis = 0 ) )
max_ =   pd.DataFrame (num_attributes.apply( np.max, axis = 0 ) )
min_ =   pd.DataFrame (num_attributes.apply( np.min , axis = 0) )
std =   pd.DataFrame (num_attributes.apply(  np.std , axis = 0)  )                     

df1 = pd.concat([mean, median, max_, min_, std], axis = 1).reset_index()
df1.columns = ['attributes', 'mean', 'median', 'maximo', 'minimo', 'std']

In [29]:
df['dormitory_type'] = df['bedrooms'].apply (lambda x: 'studio' if x == 1 
                                             else 'apartament' if x == 2 
                                             else 'house')

In [47]:
show_dimensions (df)

Number of rows: 21613
Number of columns: 21

    bathrooms  bedrooms
0        1.00         3
1        2.25         3
2        1.00         2
3        3.00         4
4        2.00         3
5        4.50         4
6        2.25         3
7        1.50         3
8        1.00         3
9        2.50         3
10       2.50         3
11       1.00         2
12       1.00         3
13       1.75         3
14       2.00         5
15       3.00         4
16       2.00         3
17       1.00         4
18       1.00         2
19       1.00         3
20       1.75         4
21       2.75         3
22       2.50         5
23       1.50         2
24       2.25         3
25       2.00         3
26       1.75         3
27       1.00         3
28       1.75         3
29       2.50         4
30       2.50         3
31       1.50         2
32       1.75         4
33       1.00         3
34       2.75         4
35       2.50         3
36       1.00         4
37       2.00         4
38       1.00         4
39       2.50         4
40       2.50         4
41       2.25         4
42       2.75         5
43       1.00         3
44       1.00         3
45       2.50         3
46       1.00         3
47       2.50         4
48       1.75         3
49       2.50         3
50       1.00         3
51       2.50         5
52       1.75         3
53       1.75         2
54       2.25         5
55       2.50         4
56       2.50         4
57       2.50         3
58       3.25         5
59       3.00         4