# Primeiro exercicio

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv ("datasets/kc_house_data.csv")
pd.set_option('display.float_format',lambda x: '%.2f' % x)
df['date'] = pd.to_datetime (df['date'])

In [4]:
df1 = df[['price', 'zipcode']].groupby('zipcode').median().reset_index()

In [5]:
df2 = pd.merge(df,df1, on='zipcode', how='inner')
df2['status'] = 'NA'

In [6]:
df3 = df2[['id', 'zipcode', 'price_y', 'price_x', 'condition', 'status']]

In [14]:
for i in range (len(df3)):
    if (df3.loc[i,'price_x'] <  df3.loc[i,'price_y']) & (df3.loc[i,'condition'] >= 3):
        df3.loc[i,'status'] = 'comprar'
    
    else:
        df3.loc[i,'status'] = 'não comprar'

In [15]:
df3.rename(columns={'id':'ID', 'zipcode':'ZIPCODE', 'price_y': 'MEDIA DE PREÇO', 'price_x': 'PREÇO', 
                    'condition': 'CONDIÇÃO', 'status':'STATUS'}, inplace=True)

C:\Users\Israel\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [16]:
df3

,ID,ZIPCODE,MEDIA DE PREÇO,PREÇO,CONDIÇÃO,STATUS,5
0,7129300520,98178,278277.00,221900.00,3,comprar,comprar
1,4060000240,98178,278277.00,205425.00,4,comprar,comprar
2,4058801670,98178,278277.00,445000.00,3,não comprar,não comprar
3,2976800796,98178,278277.00,236000.00,3,comprar,comprar
4,6874200960,98178,278277.00,170000.00,3,comprar,comprar
...,...,...,...,...,...,...,...
21608,2525049086,98039,1892500.00,2720000.00,4,não comprar,não comprar
21609,2525049113,98039,1892500.00,1950000.00,4,não comprar,não comprar
21610,3262300485,98039,1892500.00,2250000.00,3,não comprar,não comprar
21611,6447300365,98039,1892500.00,2900000.00,3,não comprar,não comprar
21612,3262300818,98039,1892500.00,1865000.00,3,comprar,comprar

# Segundo Exercicio

In [ ]:
#H1: Imóveis que possuem vista pra agua, são 20% mais caros em media.

In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [196]:
df4 = df[['price', 'waterfront']].groupby('waterfront').mean().reset_index()

In [197]:
media_comwt = 1661876.02
media_semwt = 531563.60

df4['comparacao_medias'] = ((media_comwt - media_semwt ) / media_semwt) * 100

In [199]:
df4.rename(columns = {'waterfront': 'WATER FRONT', 'price': 'MEAN OF PRICE', 
           'comparacao_medias': 'COMPARAÇÃO DAS MEDIAS DE PREÇO'}, inplace = True)

In [200]:
df4

   WATER FRONT  MEAN OF PRICE  COMPARAÇÃO DAS MEDIAS DE PREÇO
0            0      531563.60                          212.64
1            1     1661876.02                          212.64

In [16]:
# H1 é falsa, os imoveis com vista pra agua, são em media 212% mais caros

# Hipotese 2

In [ ]:
#H2: Imóveis com data de construção menor que 1955, são 50% mais baratos na media.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [4]:
df['yr_1955'] = df['yr_built'] < 1955

In [5]:
df5 = df[['price', 'yr_1955']].groupby('yr_1955').mean().reset_index()

In [6]:
media_maior1955 = 541299.97
media_menor1955 = 537050.91

df5 ['compa_media'] = (((media_maior1955 - media_menor1955 ) / media_menor1955 )) * 100

In [7]:
df5.rename (columns = {'yr_1955': 'RENOVAÇÃO ANTES DE 1955?', 'price': 'MEDIA DE PREÇO', 
                       'compa_media': 'COMPARAÇÃO DAS MEDIAS'}, inplace = True )

In [8]:
df5

   RENOVAÇÃO ANTES DE 1955?  MEDIA DE PREÇO  COMPARAÇÃO DAS MEDIAS
0                     False       541299.97                   0.79
1                      True       537050.91                   0.79

In [ ]:
#H2 é falsa por que imoveis < 1955 são somente 0,8% mais baratos do que os imoveis  > 1955

# Hipotese 3

In [ ]:
#Imóveis sem porão possuem 40% a mais de terreno do que os imoveis com porão.

In [215]:
import pandas as pd
import numpy as np

In [216]:
df = pd.read_csv ('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.0f' % x)

In [230]:
df['basement0'] = df['sqft_basement'] == 0

In [231]:
df8 = df[['sqft_lot', 'basement0']].groupby('basement0').mean().reset_index()

In [232]:
#True = sem porão
#False = com porão

In [233]:
media_sem_porao = 16284.18
media_com_porao = 13286.29

In [234]:
primeira_operação = (media_sem_porao - media_com_porao) / media_com_porao
df8['comparcao_medias'] = (primeira_operação * 100)

In [235]:
df8['comparcao_medias'] = (primeira_operação * 100)

In [236]:
df8.rename (columns = {'basement0': 'NÃO TEM PORÃO?', 'sqft_lot': 'MEDIA DE TAMANHO DOS TERRENOS',
                       'comparcao_medias': 'COMPARAÇÃO DAS MEDIAS'}, inplace=True)

In [237]:
df8

   NÃO TEM PORÃO?  MEDIA DE TAMANHO DOS TERRENOS  COMPARAÇÃO DAS MEDIAS
0           False                          13286                     23
1            True                          16284                     23

In [ ]:
#H3 incorreta, na real os imoveis sem porão possuem 22% a mais de terreno do que os com porão

# Hipotse 4

In [ ]:
#O crescimento de preço dos imoveis Year over Year, é de 10%

In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [12]:
df = pd.read_csv('datasets/kc_house_data.csv')
df['year'] = pd.to_datetime(df['date']).dt.strftime('%Y')
df['date'] = pd.to_datetime(df['date'])

In [13]:
df1 = df[['price', 'year']].groupby(['year']).mean().reset_index()

In [14]:
media_2014 = 539181
media_2015 = 541989

primera_operacao = (media_2015 - media_2014 ) / media_2014

df1['comparacao_medias'] = primera_operacao * 100

In [15]:
df1

   year     price  comparacao_medias
0  2014 539181.43               0.52
1  2015 541988.99               0.52

In [16]:
df1.rename(columns = {'year': 'ANO', 'price': 'MEDIAS DE PREÇO', 'comparacao_medias': 'COMPARAÇÃO DAS MEDIAS'}, inplace=True)

In [17]:
df1

    ANO  MEDIAS DE PREÇO  COMPARAÇÃO DAS MEDIAS
0  2014        539181.43                   0.52
1  2015        541988.99                   0.52

In [18]:
#H4 esta incorreta, o crecimento de preço dos imvoeis YoY é de 0.52%

# Hipotese 5

In [120]:
#H5: Imóveis com 3 banheiros tem um crescimento MoM de 15%

In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [30]:
df['month'] = pd.to_datetime(df['date']).dt.strftime('%m')

In [31]:
df['bathrooms3'] = df['bathrooms'] == 3

In [32]:
df1 = df[['bathrooms3', 'month', 'price']]

In [37]:
#False = é diferente de 3 
# True = é igual a 3 

df2 = df1[['price', 'bathrooms3', 'month']].groupby(['bathrooms3', 'month']).mean().reset_index()

In [34]:
sem_3_bath_media = df2.loc[0:11, 'price']
com_3_bath_media = df2.loc[12:23, 'price']

In [39]:
df2.rename(columns = {'bathrooms3': 'TEM 3 BANHEIROS', 'month': 'MES', 'price': 'MEDIA DE PREÇO'}, inplace = True)

In [40]:
df2

    TEM 3 BANHEIROS MES  MEDIA DE PREÇO
0             False  01       519436.37
1             False  02       500798.39
2             False  03       537572.95
3             False  04       555979.10
4             False  05       545405.83
5             False  06       549947.81
6             False  07       538360.39
7             False  08       529583.66
8             False  09       524417.94
9             False  10       535147.98
10            False  11       516996.22
11            False  12       517584.70
12             True  01       672923.17
13             True  02       696714.42
14             True  03       768495.10
15             True  04       709751.99
16             True  05       689252.10
17             True  06       775057.56
18             True  07       741405.04
19             True  08       737576.56
20             True  09       645246.89
21             True  10       645523.02
22             True  11       679910.47
23             True  12       728341.19

# Hipotese 6

In [41]:
#Imoveis com waterfront são 30% mais caros que os imoveis sem waterfrontn, na media

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('datasets/kc_house_data.csv')
cols = df[['sqft_living15', 'sqft_lot15']]
df = df.drop(cols, axis = 1)

In [44]:
df1 = df[['price', 'waterfront']].groupby(['waterfront']).mean().reset_index()

In [45]:
media_sem_waterfront = 531563.60
media_com_waterfront = 1661876.02

primeira_operacao= (media_com_waterfront - media_sem_waterfront ) / media_sem_waterfront
df1['comparacao_da_media'] = primeira_operacao * 100

In [46]:
df1.rename (columns = {'waterfront': 'VISTA PARA AGUA', 'price': 'PREÇO MEDIO', 
                       'comparacao_da_media': 'COMPARAÇÃO DE MEDIAS'}, inplace = True)

In [47]:
df1

   VISTA PARA AGUA  PREÇO MEDIO  COMPARAÇÃO DE MEDIAS
0                0    531563.60                212.64
1                1   1661876.02                212.64

In [119]:
#H6, os imoveis com waterfront são 212% mais caros do que imoveis sem waterfront

# Hipotese 7

In [ ]:
#Imoveis com condition maior que 3 são 25% mais caros dos imoveis com condition < 3, , na media

In [120]:
import pandas as pd

In [142]:
df = pd.read_csv('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [143]:
df['condition_maior_3'] = df['condition'] > 3

In [144]:
df1 = df[['price', 'condition_maior_3']].groupby(['condition_maior_3']).mean().reset_index()

In [146]:
#False é menor que 3 
#True é maior que 3

In [156]:
media_condition_menor3 = 538980.17
media_condition_maior3 = 542224.96

primeira_operacao = (media_condition_maior3 - media_condition_menor3) / media_condition_menor3
df1['comparacao_media'] = primeira_operacao * 100

In [159]:
df1.rename(columns = {'price': 'MEDIA DE PRECO', 'comparacao_media': 'COMPARAÇÃO DAS MEDIAS'
                      , 'condition_maior_3': 'CONDIÇÃO MAIOR QUE 3' }, inplace= True)

In [160]:
df1

   CONDIÇÃO MAIOR QUE 3  MEDIA DE PRECO  COMPARAÇÃO DAS MEDIAS
0                 False       538980.17                   0.60
1                  True       542224.96                   0.60

In [ ]:
#Hipotese 7, imoveis com com condiçoes acima de 3 são 0,60% mais caros do que imoveis com condiçoes menores que  3

# Hipotese 8

In [161]:
# Imoveis com 2 ou mais andares são 40% mais caros que imoveis com 1 ou menos andares , na media

In [24]:
import pandas as pd
pd.set_option('display.float_format',lambda x: '%.2f' % x)

df = pd.read_csv('datasets/kc_house_data.csv')

In [26]:
#True = acima ou igual 2 
#False = abaixo de 2 

df['more_than2'] = df['floors'] >= 2

In [27]:
df1 = df[['price', 'more_than2']].groupby(['more_than2']).mean().reset_index()

In [28]:
media_floors_maior2 = 651976.37
media_floors_menor2 = 459900.09

primera_operacao = (media_floors_maior2 - media_floors_menor2 ) / media_floors_menor2
df1 ['media_floors'] = primera_operacao * 100

In [31]:
df1.rename(columns = {'more_than2': 'MENOS OU MAIS QUE DOIS ANDARES', 'price': 'MEDIA DOS PREÇOS',
                      'media_floors': 'RESULTADO DA COMPARAÇÃO DAS MEDIAS'}, inplace=True)

In [32]:
df1

,MENOS OU MAIS QUE DOIS ANDARES,MEDIA DOS PREÇOS,RESULTADO DA COMPARAÇÃO DAS MEDIAS
0,False,459900.09,41.76
1,True,651976.37,41.76

In [ ]:
# H8 esa errada, imoveis com 2 ou mais andares são 41,76% mais caros dos que com 1 andar.

# Hipotese 9

In [ ]:
#O preço de um imóvel que já foi reformado é 30% maior do que um imóvel que não foi reformado, na media

In [104]:
import pandas as pd

In [105]:
df = pd.read_csv('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [106]:
#True = Que foi reformado, logo > 0
#False = Que não foi reformado, logo = 0

df['renovatedTF'] =  df['yr_renovated'] > 0

In [107]:
df1 = df[['price', 'renovatedTF']].groupby(['renovatedTF']).mean().reset_index()

In [108]:
df1

   renovatedTF     price
0        False 530360.82
1         True 760379.03

In [109]:
media_renovated = 760379.03
media_not_renovated = 530360.82

primeira_operacao = (media_renovated - media_not_renovated ) / media_not_renovated
df1['comparacao_media'] = primeira_operacao * 100

In [110]:
df1

   renovatedTF     price  comparacao_media
0        False 530360.82             43.37
1         True 760379.03             43.37

In [111]:
df1.rename (columns = {'renovatedTF': 'TEVE OU NÃO REFORMA','price': 'MEDIA DE PREÇOS',
                       'comparacao_media': 'COMPARAÇÃO DAS MEDIAS'}, inplace= True)

In [112]:
df1

   TEVE OU NÃO REFORMA  MEDIA DE PREÇOS  COMPARAÇÃO DAS MEDIAS
0                False        530360.82                  43.37
1                 True        760379.03                  43.37

In [113]:
#Hipotse 9, o preço do imovel ja reformado é 44% mais caro do que o não renovado

# Hipotese 10

In [114]:
    #Casas com uma sala de estar acima de 3000 são 15% mais caras que casas com sala de estar menor que 700, na media

In [180]:
import pandas as pd

In [181]:
df = pd.read_csv('datasets/kc_house_data.csv')
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [182]:
df['sqftliving3000+'] = df['sqft_living'] > 3000
df['sqftliving700-'] = df['sqft_living'] < 700

In [183]:
df99 = df[['price', 'sqftliving3000+']].groupby(['sqftliving3000+']).mean().reset_index()           
df7 = df[['price', 'sqftliving700-']].groupby(['sqftliving700-']).mean().reset_index()

In [184]:
df3 = pd.concat ([df99, df7], axis = 1)

In [186]:
media_living3000 = 1038926.50
media_living700 =  250309.12

df3['comparacao_mediash10'] = ((media_living3000 - media_living700 ) / media_living700 ) * 100

In [189]:
df3['comparacao_mediash10'] = df3['sqftliving3000+'].apply(lambda x: 315.05 if x == True 
                                                           else 'NA' )

In [193]:
df3.rename(columns = {'sqftliving3000+': 'SALA DE ESTAR ESTA ACIMA DE 3000', 
                      'price': 'MEDIAS DE PREÇO', 'comparacao_mediash10': 'COMPARAÇÃO DAS MEDIAS',
                      'sqftliving700-': 'SALA DE ESTAR ESTA MENOR QUE 700'}, inplace = True)

In [194]:
df3

,SALA DE ESTAR ESTA ACIMA DE 3000,MEDIAS DE PREÇO,SALA DE ESTAR ESTA MENOR QUE 700,MEDIAS DE PREÇO,COMPARAÇÃO DAS MEDIAS
0,False,457123.39,False,541950.28,NA
1,True,1038926.50,True,250309.12,315.05

In [ ]:
#H10, casas com salata de estar acima de 3000 são 315% mais caras em media do que casas com menos de 700 de sala de estar.

# Ultima tabela

In [8]:
#Nos é isso

In [209]:
import pandas as pd 
df = pd.read_csv ('datasets/kc_house_data.csv')

In [210]:
df['month'] = pd.to_datetime (df['date']).dt.strftime('%m')
df['date'] = pd.to_datetime (df['date'])

In [211]:
df1 = df[['id', 'price']].copy()

In [212]:
df1.rename(columns={'price': 'Preço da Compra', 'id': 'Imóvel Cod'}, inplace=True)

In [213]:
df['Temporada'] = df['month'].apply( lambda x: 'winter' if x == '12' 
                                          else 'winter' if x == '01' 
                                          else 'winter' if x == '02'
                                          else 'winter' if x == '03' 
                                          else 'summer' if x == '06' 
                                          else 'summer' if x == '07' 
                                          else 'summer' if x == '08'
                                          else 'summer' if x == '09'
                                          else 'spring' if x == '04'
                                          else 'spring' if x == '05'
                                          else 'fall' if x == '10'
                                          else 'fall' if x == '11'
                                          else 'NA'   )

In [214]:
df2 = df[['price','zipcode', 'Temporada']].groupby(['zipcode', 'Temporada']).median().reset_index()

In [215]:
df3 = pd.concat([df1 , df2], axis = 1 , join = 'inner')

In [216]:
for i in range (len( df3 )):
    if (df3.loc[i, 'Preço da Compra']) > (df3.loc[i, 'price']): 
        df3.loc[i, 'Preço de Venda'] = df3.loc[i, 'Preço da Compra'] * 1.10
    
    elif (df3.loc[i, 'Preço da Compra']) < (df3.loc[i, 'price']): 
        df3.loc[i, 'Preço de Venda'] = df3.loc[i, 'Preço da Compra'] * 1.30
    
    else: 'NA'

In [217]:
df3['Lucro'] = df3['Preço de Venda'] - df3['Preço da Compra']

In [218]:
df3.rename (columns = {'zipcode': 'Zipcode', 'price':'Mediana De Preços'}, inplace = True)

In [219]:
df3

,Imóvel Cod,Preço da Compra,Zipcode,Temporada,Mediana De Preços,Preço de Venda,Lucro
0,7129300520,221900.0,98001,fall,243975.0,288470.0,66570.0
1,6414100192,538000.0,98001,spring,267000.0,591800.0,53800.0
2,5631500400,180000.0,98001,summer,260000.0,234000.0,54000.0
3,2487200875,604000.0,98001,winter,258000.0,664400.0,60400.0
4,1954400510,510000.0,98002,fall,234000.0,561000.0,51000.0
...,...,...,...,...,...,...,...
275,4215100060,365000.0,98198,winter,275000.0,401500.0,36500.0
276,9189700045,450000.0,98199,fall,637500.0,585000.0,135000.0
277,1126049053,770000.0,98199,spring,709000.0,847000.0,77000.0
278,2022069200,455000.0,98199,summer,720000.0,591500.0,136500.0
279,9412900055,405000.0,98199,winter,650000.0,526500.0,121500.0